<h1>Broadcasts</h1>

<%= form_tag "/broadcasts", method: :post do %>
<button type="submit">Create new broadcast</button>
<% end %>


<table>
  <% @streams.each do |stream| %>
  <tr>
    <td><a href='' onclick='new FlussonicPlayer({parentId: "#video", flussonic: {url: "http://localhost:8080/<%= stream.name%>/index.m3u8"}}); return false;'><%= stream.name %></a></td>
    <td><%= stream.bitrate %>k</td>
    <td><%= stream.lifetime/1000 %>s</td>
    <td><%= button_to "delete", "/broadcasts/#{stream.name}", method: :delete %></td>
  <% end %>
</table>

<div id="video" style="width:640px;height:480px"></div>
