<h1>Active broadcasts</h1>

<%- if logged? %>
<div class="row">
  <div class="col-md-4 col-sm-6">
    <%= form_tag "/broadcasts", method: :post do %>
      <div class="input-group">
        <input type="text" class="form-control" name="stream[comment]" placeholder="Comment" />        
      </div>
      <div class="input-group">
        <span class="input-group-btn">
          <button type="submit" name="kind" value="sample" class="btn btn-primary">Sample broadcast</button>
        </span>
        <span class="input-group-btn">
          <button type="submit" name="kind" value="published" class="btn btn-success">Published broadcast</button>
        </span>
      </div>
    <% end %>
  </div>
</div>
<% end %>


<%- 
total_width = 4.hour
total_start = total_width.ago %>
<table class="table">
  <% @streams.each do |stream| %>
  <tr>
    <td style="white-space: nowrap;"><%= link_to(stream.title, broadcast_path(stream.name))%></a></td>
    <td><%= stream.bitrate %>k</td>
    <td><%= stream.lifetime ? Time.at(stream.lifetime/1000).utc.strftime("%H:%M:%S") : "offline" %></td>
    <td style="width: 70%" class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="progress" style="width: 100%">
            <%- last_end = total_start %>
            <% stream.recordings.each do |r| %>
              <%- offset2 = r.start < total_start ? 0 : ((r.start - total_start)*100/total_width).round(2)  %> 
              <%- offset = r.start < last_end ? 0 : ((r.start - last_end)*100/total_width).round(2)  %> 
              <%- width = ((r.finish - (r.start < last_end ? last_end : r.start))*100/total_width).round(2) %>
              <%- last_end = r.finish < last_end ? last_end : r.finish %>
              <% if width > 0 %>
                <div class="progress-bar" style="margin-left: <%= offset %>%; width: <%= width %>%;"></div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <%- if false %>
      <div class="row">
        <div class="col-sm-12">
          <div class="progress" style="width: 100%">
            <%- last_end = total_start %>
            <% stream.locks.each do |r| %>
              <%- offset2 = r.start < total_start ? 0 : ((r.start - total_start)*100/total_width).round(2)  %> 
              <%- offset = r.start < last_end ? 0 : ((r.start - last_end)*100/total_width).round(2)  %> 
              <%- width = ((r.finish - (r.start < last_end ? last_end : r.start))*100/total_width).round(2) %>
              <%- last_end = r.finish < last_end ? last_end : r.finish %>
              <% if width > 0 %>
                <div class="progress-bar" style="margin-left: <%= offset %>%; width: <%= width %>%;"></div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </td>
    <td><%= button_to "delete", "/broadcasts/#{stream.name}", method: :delete %></td>
  <% end %>
</table>

