<h1>Broadcasts</h1>

<%= form_tag "/broadcasts", method: :post do %>
<input type="text" name="stream[comment]" placeholder="Comment" /><br>
<button type="submit">Create new broadcast</button>
<% end %>


<%- 
total_width = 4.hour
total_start = total_width.ago %>
<table class="table">
  <% @streams.each do |stream| %>
  <tr>
    <td style="white-space: nowrap;"><a href='' onclick='onClick("<%= stream.name%>");return false;'><%= stream.comment.blank? ? stream.name : stream.comment %></a></td>
    <td><%= stream.bitrate %>k</td>
    <td><%= stream.lifetime ? Time.at(stream.lifetime/1000).utc.strftime("%H:%M:%S") : "offline" %></td>
    <td style="width: 70%">

      <div class="progress" style="width: 100%">
        <%- last_end = total_start %>
        <% stream.recordings.each do |r| %>
          <%- offset2 = r.start < total_start ? 0 : ((r.start - total_start)*100/total_width).round(2)  %> 
          <%- offset = r.start < last_end ? 0 : ((r.start - last_end)*100/total_width).round(2)  %> 
          <%- width = ((r.finish - (r.start < last_end ? last_end : r.start))*100/total_width).round(2) %>
          <%- last_end = r.finish < last_end ? last_end : r.finish %>
          <% if width > 0 %>
            <div class="progress-bar" style="margin-left: <%= offset %>%; width: <%= width %>%;"></div>
          <% end %>
        <% end %>
      </div>
    </td>
    <td><%= button_to "delete", "/broadcasts/#{stream.name}", method: :delete %></td>
  <% end %>
</table>

<div id="video" style="width:640px;height:480px"></div>

<script>
  function onClick(streamName) {
    // index.m3u8/
    var url = "http://localhost:8080/" + streamName+"?ago=3600";
    var params = FlussonicPlayer.parseUrl(url, {parentId: "#video"});

    new FlussonicPlayer(params);
  }
</script>
