<h1>Broadcasts</h1>

<%= form_tag "/broadcasts", method: :post do %>
<button type="submit">Create new broadcast</button>
<% end %>


<%- 
total_width = 4.hour
total_start = total_width.ago %>
<table class="table">
  <% @streams.each do |stream| %>
  <tr>
    <td>
      <a href='' onclick='new FlussonicPlayer({parentId: "#video", flussonic: {url: "http://localhost:8080/<%= stream.name%>/index.m3u8"}}); return false;'><%= stream.name %></a>
    </td>
    <td><%= stream.bitrate %>k</td>
    <td><%= stream.lifetime/1000 %>s</td>
    <td><%= button_to "delete", "/broadcasts/#{stream.name}", method: :delete %></td>
    <td style="width: 80%">

      <div class="progress" style="width: 100%">
        <%- last_end = total_start %>
        <% stream.recordings.order(start_at: :asc).each do |r| %>
          <%- offset2 = r.start < total_start ? 0 : ((r.start - total_start)*100/total_width).round(2)  %> 
          <%- offset = r.start < last_end ? 0 : ((r.start - last_end)*100/total_width).round(2)  %> 
          <%- width = ((r.finish - (r.start < last_end ? last_end : r.start))*100/total_width).round(2) %>
          <%- last_end = r.finish < last_end ? last_end : r.finish %>
          <% if width > 0 %>
            <div class="progress-bar" style="margin-left: <%= offset %>%; width: <%= width %>%;"></div>
          <% end %>
        <% end %>
      </div>
    </td>
  <% end %>
</table>

<div id="video" style="width:640px;height:480px"></div>
